@{
    ViewData["Title"] = "Home Page";
}

@model IQueryable<Product>
<h1>Welcome to Our Lego Store</h1>
<p>We have a large collection of amazing legos with personalized recommendations for every customer.</p>
<partial name="_CookieConsentPartial" />
    <div class="row">
        @foreach (Product p in Model)
        {
            <div class="col-md-6 mb-4">
                <div class="card h-100">
                    <div class="card-body">
                        <li><img src="@p.ImgLink" alt="@p.Name" style="width:100px; height:auto;"></li>
                        <h3 class="card-title">@p.Name</h3>
                        <ul class="list-unstyled">
                            <li>Price: @p.Price</li>
                        </ul>
                    </div>
                </div>
            </div>
        }
    </div>
