@{
    ViewData["Title"] = "Home Page";
}

@model IQueryable<Product>
<h1>Welcome to Our Lego Store</h1>
<p>We have a large collection of amazing legos with personalized recommendations for every customer.</p>
<partial name="_CookieConsentPartial" />
<div class="row">
@foreach (var p in Model)
{
    <div class="col-md-4 mb-4">
        <div class="card h-100">
            <a href="@Url.Action("ProductDetails", "Home", new { id = p.ProductId })">
                <img src="@p.ImgLink" alt="@p.Name" class="card-img-top" style="height: 200px; object-fit: cover;">
                <div class="card-body">
                    <h5 class="card-title">@p.Name</h5>
                    <h5 class="card-price">$@p.Price</h5>
                </div>
            </a>
        </div>
    </div>
}

</div>
