@{
    ViewData["Title"] = "Home Page";
}

@model IQueryable<Product>
<h1>Welcome to Our Lego Store</h1>
<p>We have a large collection of amazing legos with personalized recommendations for every customer.</p>

    @foreach (Product p in Model)
    {
        <ul>
            <li><img src="@p.ImgLink" alt="@p.Name" style="width:100px; height:auto;"></li>
            <li>@p.Name</li>
            <li>$@p.Price</li>
        </ul>
    }
