@{
    ViewData["Title"] = "Products";
}

@model IQueryable<Product>
<h1>All products</h1>
<p>We have a large collection of amazing legos with personalized recommendations for every customer.</p>
<partial name="_CookieConsentPartial" />
<div class="row">
    @foreach (Product p in Model)
    {
        <div class="col-md-4 mb-4">
            <div class="card h-100">
                <div class="card-body text-center d-flex flex-column justify-content-center">
                    <img src="@p.ImgLink" alt="@p.Name" class="card-img-top" style="width:100%; height:auto; margin-bottom: 10px">
                    <h4 class="card-title">@p.Name</h4>
                    <h5 class="card-price" style="font-weight: bold">$@p.Price</h5>
                </div>
            </div>
        </div>
    }
</div>